# One-hot encoding

In [3]:
import pandas as pd

In [58]:
df = pd.read_csv('covid_south_korea_long.csv')

In [38]:
df.nunique()

date         6
city        18
province     5
total        3
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         99 non-null     object
 1   city         99 non-null     object
 2   total        99 non-null     int64
 3   chungcheong  99 non-null     int64
 4   gangwon      99 non-null     int64
 5   gyeonggi     99 non-null     int64
 6   gyeongsang   99 non-null     int64
 7   jeolla       99 non-null     int64
dtypes: int64(6), object(2)
memory usage: 6.3+ KB

In [39]:
dummies = pd.get_dummies(df['province'], dtype=int)

In [41]:
df = pd.concat([df, dummies], axis=1)

In [43]:
df.drop('province', axis=1, inplace=True)

In [45]:
df

,date,city,total,chungcheong,gangwon,gyeonggi,gyeongsang,jeolla
0,2020-01-20,busan,1,0,0,0,1,0
1,2020-01-20,chungbuk,1,1,0,0,0,0
2,2020-01-20,chungnam,0,1,0,0,0,0
3,2020-01-20,daegu,1,0,0,0,1,0
4,2020-01-20,daejeon,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
94,2020-01-31,daejeon,0,1,0,0,0,0
95,2020-01-31,gangwon,0,0,1,0,0,0
96,2020-01-31,gwangju,0,0,0,0,0,1
97,2020-01-31,gyeongbuk,1,0,0,0,1,0
98,2020-01-31,gyeonggi,0,0,0,1,0,0

# Label encoding

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
encoder = LabelEncoder()

In [52]:
df['province'] = encoder.fit_transform(df['province'])

In [56]:
df

          date  city  province  total
0   2020-01-20     0         3      1
1   2020-01-20     1         0      1
2   2020-01-20     2         0      0
3   2020-01-20     3         3      1
4   2020-01-20     4         0      0
..         ...   ...       ...    ...
94  2020-01-31     4         0      0
95  2020-01-31     5         1      0
96  2020-01-31     6         4      0
97  2020-01-31     7         3      1
98  2020-01-31     8         2      0

[99 rows x 4 columns]

In [55]:
df['city'] = encoder.fit_transform(df['city'])

# Missing values

In [62]:
df['weather'].fillna(df['weather'].mode()[0], inplace=True)

In [ ]:
df['weather']

0     cloudly
1     cloudly
2     cloudly
3       clear
4     cloudly
       ...
94      windy
95      windy
96      clear
97      windy
98      windy
Name: weather, Length: 99, dtype: object